* {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	background: #eff;
}

.landing {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#canvas {
	position: relative;
	display: block;
	flex-grow: 1;
	text-align: center;
}

canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.learnmore_wrapper {
	text-align: center;
}

.btn_learnmore {
	margin: 16px;
	margin-bottom: 32px;
	outline:none;
}

h1 {
	font-weight: 700;
}