@font-face {
    font-family: "Museo Sans";
    src: url(MuseoSans_500-webfont.woff);
}

* {
    font-family: 'Museo Sans', sans-serif !important;
    font-weight: 400 !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.text-grey {
    color: #888;
}

.page-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

@media (min-width: 992px) {
    .page-section {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
}

hr.divider {
    max-width: 6rem;
}

#mainNav .navbar-brand>img {
    height: 1.25em;
}

#dummy {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}

header.masthead:before {
    content: " ";
    background: #111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s ease-in-out;
}

header.masthead.transition:before {
    opacity: 1;
}

header.masthead {
    height: 100%;
    background: #111;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .1) 100%), url(../img/bg-masthead.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 0;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: 72px;
    }
}

.photo-info-btn {
    opacity: 0.5;
}

.photo-info-wrapper:hover .photo-info-btn {
    opacity: 0.8;
}

.photo-info-container {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    color: #eee;
    font-size: 12px;
    width: 160px;
    display: none;
    padding: 8px;
    margin-right: 12px;
    text-align: right;
}

.photo-info-wrapper:hover .photo-info-container {
    display: initial;
}

.contact-anchor {
    margin: 0.75em;
}

.contact-anchor:hover {
    opacity: 0.7;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    background: rgba(0,0,0,0.7);
}

.navbar-light .navbar-toggler {
    border: none;
}

#mainNav {
    opacity: 0;
}

#mainNav.navbar-scrolled {
    opacity: 1;
}

@media (min-width: 992px) {
    #mainNav.navbar-scrolled {
        opacity: 0.9;
    }
}
